requests==2.31.0
ipython==8.14.0
openai==0.27.8
langchain
langchain-community
python-dotenv
PyYAML
opencv-contrib-python
fastapi
uvicorn
pydantic
pydantic[email]
tortoise-orm
Pillow
python-multipart
aiofiles
aiomysql
asyncmy
