# requirements.txt

requests
ipython
openai
langchain
langchain-community
langchain-openai
python-dotenv
PyYAML
opencv-contrib-python
fastapi
uvicorn
pydantic
pydantic[email]
tortoise-orm
Pillow
python-multipart
aiofiles
aiomysql
asyncmy
pytest 
pytest-asyncio 
pytest-mock 
python-dotenv
httpx 
grpcio 
grpcio-tools
protobuf